<div id="home-search" class="row">
    <a href="asdf">asdfasdfasdf</a>
    <div class="col-xs-12 text-center">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="searched-string" required>
            </div>
            <button class="btn btn-small">Search</button>
            <div class="btn-group" dropdown keyboard-nav>
                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" dropdown-toggle>
                    Dropdown with keyboard navigation <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Separated link</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>