.pointer {
    cursor: pointer;
}
.not-allowed {
    cursor: not-allowed;
}
.table {
    display: table;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
html, body, .container {
    height: 100%;
}

body {
    background: #FBFBFB;
}

.container {
    background: #FFFFFF;
}
.one-edge-shadow {
    margin-bottom: 20px;
    -webkit-box-shadow: 0 8px 6px -6px grey;
    -moz-box-shadow: 0 8px 6px -6px grey;
    box-shadow: 0 8px 6px -6px grey;
}
#home-search {
    margin-top: 300px;
}
#search-query-form div.form-group {
    padding: 5px 10px;
    background: #e3e3e3;
    margin-bottom: 24px;
}
#search-query-form div.btn-group {
    padding: 5px 10px;
}
#search-query {
    padding: 7px;
    top: 5px;
    right: 10px;
    border: 0;
    background: none;
}
#search-query .fa {
    color: #e3e3e3;
    -webkit-transition: all 1s;
    transition: all 1s;
}
#search-query:hover .fa {
    color: #000;
}
#searched-string {
    padding-right: 30px;
    float: none !important;
}
[ng-cloak] + .show-ng-cloak {
    display: block !important;
}
.ot-loader object {
    display: block;
    margin: 0 auto;
}
.ot-main-loader object {
    margin: 200px auto;
}

#results-holder .thumbnail {
    height: 25em;
}
#results-holder .image-holder {
    width: 100%;
    height: 14em;
    text-align: center;
}
#results-holder .image-holder span {
    line-height: 13em;
    text-align: center;
}
#results-holder img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
#results-holder .caption {
    height: 10em;
    overflow: hidden;
}

#food-and-drink {
    padding: 0;
}
#food-and-drink > .panel-body {
    padding: 0;
    height: 300px;
    overflow-y: scroll;
}
#food-and-drink > .panel-body > .ot-loader {
    margin-top: 130px;
}

div[collection='category.subElements'] {
    transition: all 1s;
    max-height: 0;
    overflow: hidden;
}
.open-subcategories > div[collection='category.subElements'] {
    max-height: 2000px;
}