.pointer {
    cursor: pointer;
}
.not-allowed {
    cursor: not-allowed;
}
.table {
    display: table;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
html, body, .container {
    height: 100%;
}

body {
    background: #FBFBFB;
}

.container {
    background: #FFFFFF;
}

#home-search {
    margin-top: 300px;
}
#search-query-form div.form-group {
    padding: 5px 10px;
    background: #e3e3e3;
}
#search-query-form div.btn-group {
    padding: 5px 10px;
}
#search-query {
    padding: 7px;
    top: 5px;
    right: 10px;
    border: 0;
    background: none;
}
#search-query .fa {
    color: #e3e3e3;
    -webkit-transition: all 1s;
    transition: all 1s;
}
#search-query:hover .fa {
    color: #000;
}
#searched-string {
    padding-right: 30px;
    float: none !important;
}
[ng-cloak] + .show-ng-cloak {
    display: block !important;
}
.ot-loader object {
    display: block;
    margin: 0 auto;
}
.ot-main-loader object {
    margin: 200px auto;
}