<!--Search form template -->
<div class="form-group col-sm-9 col-md-10 relative">
    <input type="text" class="form-control col-xs-12" id="searched-string" required>
    <div id="search-query" class="absolute"><i class="fa fa-search fa-lg"></i></div>
</div>
<div class="btn-group col-sm-3 col-md-2" dropdown keyboard-nav>
    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary col-xs-12" dropdown-toggle>
        Search in <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li role="menuitem"><a href="#">All fields</a></li>
        <li role="menuitem"><a href="#">Titles</a></li>
        <li role="menuitem"><a href="#">Creators</a></li>
        <li role="menuitem"><a href="#">Subjects</a></li>
        <li role="menuitem"><a href="#">Dates/Periods</a></li>
        <li role="menuitem"><a href="#">Places</a></li>
    </ul>
</div>
<!--End Search form template -->