<!--Search form template -->

<!--col-sm-9 col-md-10-->
<div class="form-group col-xs-12 relative">
    <input type="text" class="form-control col-xs-12" id="searched-string" required required ng-model="searchQuery" name="searchQuery" minlength="3">
    <button type="submit" id="search-query" class="absolute" ng-click="search(true)" ng-disabled="searchForm.$invalid"><i class="fa fa-search fa-lg"></i></button>
    <div ng-messages="searchForm.searchQuery.$error" role="alert" style="color:darkred; bottom: -20px;" class="absolute" ng-show="searchForm.$submitted || searchForm.searchQuery.$touched">
        <div ng-message="required">Please fill some query</div>
        <div ng-message="minlength">Your field is too short</div>
    </div>
</div>
<!--TODO
<div class="btn-group col-xs-12 col-sm-3 col-md-2" dropdown keyboard-nav>

    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary col-xs-12" dropdown-toggle>
        Search in <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li role="menuitem"><a href="#">All fields</a></li>
        <li role="menuitem"><a href="#">Titles</a></li>
        <li role="menuitem"><a href="#">Creators</a></li>
        <li role="menuitem"><a href="#">Subjects</a></li>
        <li role="menuitem"><a href="#">Dates/Periods</a></li>
        <li role="menuitem"><a href="#">Places</a></li>
    </ul>
</div>-->
<!--End Search form template -->